.content_home{
    display: block;
    margin-top: 60px;
}
.sectionList_heading_{
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin-right: auto;
    margin-top: 16px;
    margin-left: 6%;
}
.product_list_{
    margin-top: 16px;
    width: 350px;
    margin-left: 40px;
    height: 332px;
    margin-bottom: 34px;
}

.courseItem_title_{
    margin-top: 16px;
    font-weight: 600;
    color:black;
}
.course_list_ {
    margin-left: 6%;
}