<div class="mt-4">
  <h3>Thêm Khoá Học Mới</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">mô tả</label>
      <input type="text" class="form-control" id="description" name="description" />
    </div>
    <div class="mb-3">
      <label for="videoid" class="form-label">videoId</label>
      <input type="text" class="form-control" id="videoid" name="videoId" />
    </div>

    <button type="submit" class="btn btn-primary">thêm khoá học</button>
  </form>
</div>
